
/*dimensões logo trevo */
/* icone na navbar */
body nav a img {
  width: 150px;
  height: auto;
  margin-right: 100px;
  margin-top: 5px;
  
}



/* nav bar  home,Produtos,promoções e lojas */
body .nav-item {
  
  font-family: Arial, Helvetica, sans-serif;
  
  font-size: 20px;
  /*box-shadow: 0px 1px 10px 10px#dcedc8; */
   margin-left: 30px;
   
}



body .nav-link {
  
  padding: 0px;
   
}



/* carousel */
#carousel {
  margin: auto;
  height: auto;
  width: 100%;
  padding: 0px;
  box-shadow: 0px 18px  0px #28a745;
  
}


/* O conteúdo do texto está localizado a baixo do carousel*/

#texto {
  text-align: justify;
  margin: 40px;
  font-size: 18px;
  color: #4caf50;
  font-style: oblique;
  
}


#carousel2 {
 
  font-family: 'Vast Shadow', cursive;
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
    
 
}


/* card contendo a foto  das cápsulas */
#card {
  margin: 5px 5px 5px 5px;
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px 1px 1px#dcedc8;

}

/* ajuste das dimensões das cápsulas no card */
#card img {
  width: 200px;
  height: 150px;
  
}

/* alinhamento produtos */
#itens {

  text-align: center;

}

#formulario{
text-align: left; 
}


#mapa {

text-align: center;

}


.container-fluid {
  text-align: left;
}


footer {
  background-color: #28a745;
  text-align: center;
  color:White;
  font-family: "Anton";
  padding-top: 20px;
  font-weight: bold;
}

div ul li {
  /* () <div id= "nome do link HTML"</div> ) permite criar uma tag de  identificação especifica para aplicar regras css individuais -->*/
  /* Altera os links redes sociais para o centro */
  display: inline-block;
}
